.nf-notices--oauth {
  margin-top: -40px; // Account for the bottom margin on the topbar.
  padding-bottom: 40px; // Increase hover target, while maintaining whitespace.
  text-align:center;
}

.nf-oauth--checking {
  padding: 5px;
}

.nf-oauth--connect {
  display:block;
  background-color:#1EA9EA;
  color:white;
  padding: 5px;
  text-decoration:none;
}

.nf-oauth--connected {
  color: transparent;
  padding: 0;
  line-height: .5;
  transition: all .4s;
  background-color:#84CC1E;
}
.nf-notices--oauth:hover .nf-oauth--connected {
  color:white;
  line-height: 2;
  padding: 5px;
}
