@keyframes nf-service-installing {
  100% {
    transform:rotate(360deg);
  }
}

.services {
  .nf-extend.full {
    flex-basis: 100%;
  }
  .nf-extend-buttons a {
    margin-top: 20px;
  }
  .nf-extend-buttons .nf-button {
    margin-top: auto; // Reset from anchor.
    margin-bottom: 10px; // Account for toggle.
  }
  .dashicons-update-spin {
    animation: nf-service-installing 1s linear infinite;
  }
}
